.botonRojo {
  background-color: #d9534f;
  color: white;
  font-size: 18px;
  border: 1px solid #d9534f;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
  outline: 0;
}

.imagenPersona {
  max-height: 6vh;
  position: relative;
  top: -50%;
  left: -50%;
}

.btn-back {
  position: absolute;
  margin: 0 auto;
  right: 80%;
  margin-top: 50px;
  background-color: #2a4747;
  border: none;
  z-index: 99;
}

.img-transport {
  height: 120px;
  position: relative;
  margin: auto 0;
  padding-left: 20%;
  padding-bottom: 10px;
}

#content {
  max-width: 200px;
}
