.contenerdorInformacion {
  position: sticky;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  text-align: center;
}

.row {
  margin: 0;
}

.seccion {
  padding: 10px;
}

.imagen {
  height: 150px;
  padding: 10px;
}
